!!!
%html
  %head
    %title Furnace Xray

    %link{:href => "data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=", :rel => "icon", :type => "image/x-icon"}

    %link{:href => '/assets/app.css', :rel => 'stylesheet', :type => 'text/css'}

    %script{:src => '/assets/application.js', :type => 'text/javascript'}
    %script{:src => '/jst.js', :type => 'text/javascript'}

    :javascript
      window.data = Input.normalize(#{File.read settings.json_location})
  %body

    #toolbar
      #tools
        #functions
          %select
        #title

      #logo
        %h1 Furnace X-Ray
        %h2 version: #{Furnace::Xray::VERSION}
        %img.evil_martians-logo{:src => '/assets/evil_martians_logo.svg'}

    %br{:style => 'clear:both'}

    %table#container
      %tr
        %td#timeline
          %div.stretch
            #zoom
              %button
            %button.fnext
              &uarr; &uarr;
            %button.next
              &uarr;
            %input{:type => 'text', :size => 3, :value => 0}
            %span#diff
            .slider
              #transforms
            %button.prev
              &darr;
            %button.fprev
              &darr; &darr;
        %td#canvas
          #transform
          %svg.stretch
            %defs
              %marker#arrowhead{:markerHeight => "5", :markerUnits => "strokeWidth", :markerWidth => "8", :orient => "auto", :refX => "8", :refY => "5", :style => "fill: #333", :viewBox => "0 0 10 10"}
                %path{:d => "M 0 0 L 10 5 L 0 10 z"}